.header{
    width: 100%;
    height: 64px;
    background-color: #032541;
    display: flex;
    position: fixed;
    transition: 0.5s;
    z-index: 1;
    .firstPart{
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        .Logo{
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container {
            display: none;
            width: 10%;
            padding-top: 10px;
            height: 100%;
            cursor: pointer;
            .bar1, .bar2, .bar3 {
              width: 35px;
              height: 5px;
              background-color: white;
              margin: 6px 0;
              transition: 0.4s;
            }
            .containerHover{
                display: none;
            }
          }
          
          

          .container:hover .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
          }
          
          .container:hover .bar2 {opacity: 0;}
          
          .container:hover .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
          }
        .navMenu{
            width: 47%;
            height: 100%;
            
            .menuUl{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                .custNavMen{
                    height: 100%;
                    font-size:16px;
                    font-weight: 600;
                    color: white;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    
                }
                .customHover{
                    width: 170px;
                    min-height: 40px;
                    border-radius: 3px;
                    background-color: white;
                    position: absolute;
                    z-index: 5;
                    top:60px;
                    padding: 15px 0;
                    display: none;
                    li{
                        width: 100%;
                        height: 30px;
                        padding-left: 15px;
                        font-size: 16px;
                        color: black;
                    }
                    li:hover{
                        background-color: rgba(156, 156, 156, 0.342);
                    }
                }
                
                .movies:hover  .moveisHoverDiv{
                   display: block;
                }
                .tvShows:hover  .tvShowsHoverDiv{
                   display: block;
                }
                .people:hover  .peopleHoverDiv{
                    display: block;
                 }
                 .more:hover  .moreHoverDiv{
                    display: block;
                 }
            }
        }
    }
    
    
    .secondPart{
        width: 50%;
        height: 100%;
        .loginUl{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-right: 60px;
        
            li{
               font-size:16px;
               font-weight: 600;
               margin-right: 29px;
               a{
                   color: white;
               }
            }

            .loginLang{
                border: 1px solid white;
                color:white;
                border-radius: 3px;
                padding: 2px;
            }
            .loginLang:hover{
                background-color: white;
                color:#032541;
                font-weight: 400;
            }
        }
    }
}
@media only screen and (max-width: 1100px) {
    .header{
        justify-content: space-between;
        .firstPart{
            width: 60%;
            
        }
        .secondPart{
            width: 40%;
        }

    }
    
}
@media only screen and (max-width: 906px) {
    .header{
        .firstPart{
            width: 100%;
            .navMenu{
                width: 60%;
            }
        }
        
        .secondPart{
            display: none;
        }

    }
    
}
@media only screen and (max-width: 700px) {
    .header{
        .firstPart{
            .navMenu{
                .menuUl{
                    .people{
                        display: none;
                    }
                }
            }
        }

    }
    
}
@media only screen and (max-width: 450px) {
    .header{
        .firstPart{
            justify-content: space-around;
            .container{
                display: inline-block;
            }
            .container:hover .containerHover{
                display: inline-block;
                position: absolute;
                top:80px;
                right: 10px;
                width: 150px;
                height: 180px;
                font-size: 22px;
                padding: 10px;
                background: white;

            }

            
            .navMenu{
                width: 30%;
                display: none;
                
            }
            .Logo{
                width: 70%;
               
            }
        }

    }
    
}
